<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        body {
            font-family: Arial;
            color:#808080;
            line-height: 125%;
            letter-spacing: 0;
            font-size: 13px;
        }

        .centered {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .underlined-70 {
            border-bottom: 2px solid #808080;
            width: 70%;
            margin-bottom: 20px;
        }
        h1 {
            white-space: nowrap;
        }

        h3 {
            white-space: nowrap;
        }

        .content-wrapper {
            page-break-before: always;
        }

        .content-wrapper .content {
            margin-bottom: 75px;
        }

        .content-wrapper div {
            margin-top: 35px;
        }

        .content-wrapper .payreq-table {
            width: 100%;
        }
        .payreq-table .name {
            width: 70%;
        }
        .payreq-table .summary {
            width: 75%;
            text-align: right;
        }
        .payreq-table .currency {
            width: 5%;
            text-align: right;
        }
        .payreq-table .value {
            width: 20%;
            text-align: right;
        }
        .payreq-table .payreq-summary td {
            padding-top: 10mm;
        }

        .company-credentials {
            padding-left: 0;
            margin-top: 30px;
            page-break-inside: avoid;
        }

        .attached-table {
            width: 100%;
            border-collapse: collapse;
        }

        .attached-table tr, td, th {
            page-break-inside: avoid;
        }

        .attached-table td {
            border: 1px solid darkgrey;
            padding: 4px;
        }

        .attached-table .amount {
            font-weight: bold;
            text-align: right;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <div class="date" th:unless="${paymentRequest.createdAt == null}" th:text="${#dates.format(new java.util.Date(paymentRequest.createdAt), 'dd MMMM yyyy')}">
            19 December 2016
        </div>
        <div class="centered underlined-70">
            <h1>Payment Request</h1>
        </div>
        <div class="centered">
            <h3><span th:text="${account.name?:'N/A'}">N/A</span></h3>
        </div>

        <div class="centered">
            <h3>Request Number: <span th:text="${paymentRequest.name?:'N/A'}">N/A</span></h3>

            <span>VIP ID: <span th:text="${UTIL.getSapCustomerId(account)}">N/A</span></span>
        </div>
        <!--/*@thymesVar id="accountCurrencyCode" type="String"*/-->
        <div class="content">
            <table class="payreq-table">
                <!--deposits-->
                <th:block th:unless="${#lists.isEmpty(paymentRequest.deposits)}">
                    <tr th:each="deposit : ${#lists.sort(paymentRequest.deposits, UTIL.getDepositComparator())}">
                        <td class="name">
                            <!--Deposit <span th:text="${#dates.format(new java.util.Date(deposit.dueDate), 'dd MMMMM yyyy')}">N/A</span>-->
                            Customer Deposit
                        </td>
                        <td class="currency" th:text="${accountCurrency.code}">N/A</td>
                        <td class="value" th:text="${#numbers.formatDecimal((deposit.amount?:0), 1, 'COMMA', 2, 'POINT')}">N/A</td>
                    </tr>
                </th:block>
                <!--contractualPayments-->
                <th:block th:unless="${#lists.isEmpty(paymentRequest.contractualPayments)}">
                    <tr th:each="contractualPayment : ${#lists.sort(paymentRequest.contractualPayments, UTIL.getContractualPaymentComparator())}">
                        <td class="name">
                            <span th:text="${contractualPaymentsMap.get(contractualPayment.contractualPaymentId)}"></span>
                            <span th:unless="${aircraftTypes.isEmpty()}">
                                - <span th:text="${aircraftTypes}">[aircraft types]</span>
                            </span>
                        </td>

                        <td class="currency" th:text="${accountCurrency.code}">N/A</td>
                        <td class="value" th:text="${#numbers.formatDecimal((contractualPayment.amount?:0), 1, 'COMMA', 2, 'POINT')}">N/A</td>
                    </tr>
                </th:block>
                <!--managementFees-->
                <th:block th:unless="${#lists.isEmpty(paymentRequest.managementFees)}">
                    <tr th:each="managementFee : ${#lists.sort(paymentRequest.managementFees, UTIL.getManagementFeeComparator())}">
                        <td class="name">
                            <span th:text="${managementFeePaymentsMap.get(managementFee.getManagementFeePaymentId())}"></span>
                            <span th:unless="${aircraftTypes.isEmpty()}">
                                - <span th:text="${aircraftTypes}">[aircraft types]</span>
                            </span>
                        </td>

                        <td class="currency" th:text="${accountCurrency.code}">N/A</td>
                        <td class="value" th:text="${#numbers.formatDecimal((managementFee.amount?:0), 1, 'COMMA', 2, 'POINT')}">N/A</td>
                    </tr>
                </th:block>
                <!--additionalCharges-->
                <tr th:unless="${paymentRequest.invoiceLines == null or paymentRequest.invoiceLines.isEmpty()}">
                    <td class="name">
                        Additional charges (see attached breakdown)
                    </td>
                    <td class="currency" th:text="${accountCurrency.code}">N/A</td>
                    <td class="value" th:text="${#numbers.formatDecimal((additionalChargesTotalAmount?:0)/100.0, 1, 'COMMA', 2, 'POINT')}">N/A</td>
                </tr>
                <th:block th:unless="${#lists.isEmpty(paymentRequest.customPayments)}">
                    <tr th:unless="${paymentRequest.customPayments == null or paymentRequest.customPayments.isEmpty()}"
                        th:each="customPayment : ${#lists.sort(paymentRequest.customPayments, UTIL.getCustomPaymentComparator())}">
                        <td class="name">
                            <span th:text="${customPayment.description?:'N/A'}">N/A</span>&nbsp;
                        </td>
                        <td class="currency" th:text="${accountCurrency.code}">N/A</td>
                        <td class="value" th:text="${#numbers.formatDecimal((customPayment.amount?:0), 1, 'COMMA', 2, 'POINT')}">N/A</td>
                    </tr>
                </th:block>
                <tr class="payreq-summary">
                    <td class="summary">Total Amount:</td>
                    <td class="currency" th:text="${accountCurrency.code}">N/A</td>
                    <td class="value" th:text="${#numbers.formatDecimal(totalAmount/100.0, 1, 'COMMA', 2, 'POINT')}">N/A</td>
                </tr>
                <tr th:unless="${paymentRequest.transactionalItems == null or paymentRequest.transactionalItems.isEmpty()}"
                    th:each="transactionalItem : ${paymentRequest.transactionalItems}">
                    <td class="name">
                        Paid on <span th:text="${#dates.format(new java.util.Date(transactionalItem.paidAt), 'dd MMMMM yyyy')}">N/A</span>
                    </td>
                    <td class="currency" th:text="${T(com.vistajet.gvedge.context.common.enums.Currency).valueOf(transactionalItem.currencyId.value()).code?:'N/A'}">N/A</td>
                    <td class="value" th:text="${#numbers.formatDecimal((transactionalItem.amount?:0)*(-1), 1, 'COMMA', 2, 'POINT')}">N/A</td>
                </tr>
                <tr th:unless="${paymentRequest.transactionalItems == null or paymentRequest.transactionalItems.isEmpty()}" class="payreq-summary">
                    <td class="summary">Total Amount due:</td>
                    <td class="currency" th:text="${accountCurrency.code}">N/A</td>
                    <td class="value" th:text="${#numbers.formatDecimal((totalAmount-clearingTotalAmount)/100.0, 1, 'COMMA', 2, 'POINT')}">N/A</td>
                </tr>
            </table>
        </div>

        <div class="summary-text">
            <span class="description">Payment due on <span th:text="${#dates.format(new java.util.Date(paymentRequest.due), 'dd MMMMM yyyy')}">N/A</span> in accordance with your VistaJet Program.</span>
        </div>

        <div class="summary-text">
            <span class="description">Please ensure that the above amount is settled in full net of bank charges, in the currency specified, and without set-off of any kind.</span>
        </div>
        <div class="summary-text">
            <span class="description">Prompt payment would be greatly appreciated. - Thank you.</span>
        </div>

        <div class="company-credentials" th:if="${(sapAccountId == '0205' || sapAccountId == '0210') && accountCurrency.code == 'USD'}">
            Beneficiary: VistaJet Ltd.<br/>
            Address: Malta, SkyParks Business Centre, Luqa LQA 4000<br/>
            Beneficiary's Bank name: Bank of Valletta Plc.<br/>
            Branch: Head Office, ST. VENERA, Malta<br/>
            Account number: 40022069005<br/>
            IBAN: MT14 VALL 2201 3000 0000 4002 2069 005<br/>
            BIC/SWIFT: VALLMTMT<br/>
            Correspondent Bank: BBRUBEBB<br/>
            Correspondent Bank Name: ING BELGIUM NV
        </div>

        <div class="company-credentials" th:if="${(sapAccountId == '0205' || sapAccountId == '0210') && accountCurrency.code == 'EUR'}">
            Beneficiary: VistaJet Ltd.<br/>
            Bank: Bank of Valletta plc<br/>
            Address: Head office, ST. VENERA, Malta<br/>
            Account number: 40022068983<br/>
            BIC/SWIFT: VALLMTMT<br/>
            IBAN: MT26VALL22013000000040022068983
        </div>
        <div class="company-credentials" th:if="${(sapAccountId == '0205' || sapAccountId == '0210') && accountCurrency.code == 'GBP'}">
            VistaJet International Limited<br/>
            Bank: HSBC Bank Plc<br/>
            Sort code: 40-35-45<br/>
            Account Number: 41515519<br/>
            BIC/SWIFT: HBUKGB4B<br/>
            IBAN: GB67HBUK40354541515519
        </div>
        <div class="company-credentials" th:if="${sapAccountId == '0206' && accountCurrency.code == 'USD'}">
            VistaJet US Inc.<br/>
            Deutsche Bank Trust Company Americas<br/>
            BIC/SWIFT: BKTRUS33XXX<br/>
            ABA: 021001033<br/>
            Account number: 42954857<br/>
            I/N/O: VistaJet US Inc. - Deposits
        </div>
        <div class="company-credentials" th:unless="${sapAccountId != '0200' || baseCompanyFinance == null || baseCompanyCompany == null}">
            <span th:text="${baseCompanyCompany.name?:'N/A'}">VistaJet Limited</span><br/>
            <span th:text="${baseCompanyFinance.bankName?:'N/A'}">Bank of Valetta plc</span><br/>
            BIC/SWIFT: <span th:text="${baseCompanyFinance.swift?:'N/A'}">VALLMTMT</span><br/>
            IBAN: <span th:text="${baseCompanyFinance.iban?:'N/A'}">MT14VALL22013000000040022069005</span><br/>
            <span th:unless="${UTIL.getAbaNumber(accountCurrency, sapAccountId)==null}">
                ABA: <span th:text="${UTIL.getAbaNumber(accountCurrency, sapAccountId)}">[ABA_NUMBER]</span><br/>
            </span>
            Account: <span th:text="${UTIL.getBankAccountNumber(accountCurrency, sapAccountId)}">40022069005</span>
        </div>
        <div class="company-credentials" th:if="${sapAccountId == '0209'  && accountCurrency.code == 'USD'}">
            VistaJet India Private Limited<br/>
            Bank: HSBC<br/>
            Address: 52/60, M.G. Road, Fort Mumbai – 400001<br/>
            Account Number:  006-257356-511<br/>
            BIC/SWIFT: HSBCINBB<br/>
            IFSC Code (for RTGS / NEFT): HSBC0400002<br/>
            MICR Code: 400039002<br/>
        </div>
        <div class="company-credentials" th:if="${sapAccountId == '0209'  && accountCurrency.code == 'INR'}">
            VistaJet India Private Limited<br/>
            Bank: HSBC<br/>
            Address: 52/60, M.G. Road, Fort Mumbai – 400001<br/>
            Account Number:  006-257356-001<br/>
            BIC/SWIFT: HSBCINBB<br/>
            IFSC Code (for RTGS / NEFT): HSBC0400002<br/>
            MICR Code: 400039002<br/>
        </div>
    </div>

    <div class="content-wrapper"
         th:unless="${paymentRequest.invoiceLines == null or paymentRequest.invoiceLines.isEmpty()}">
        <div class="centered underlined-70">
            <h2>Additional Charges</h2>
        </div>
        <table class="attached-table">
            <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Trip date</th>
                    <th>Invoice description</th>
                    <th>Amount</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="invoiceLine : ${#lists.sort(paymentRequest.invoiceLines, UTIL.getAdditionalChargesComparator())}">
                    <td th:text="${invoiceLine.invoiceIdentifier?:'N/A'}">N/A</td>
                    <td>
                        <span th:unless="${invoiceLine.departureDate == null or invoiceLine.flightOrderId == null or invoiceLine.flightOrderId.value() == null}">
                            <span th:text="${invoiceLine.flightOrderId.value()}"></span>
                            <span> - </span>
                            <span th:text="${#dates.format(new java.util.Date(invoiceLine.departureDate), 'dd MMM yyyy')}"></span>
                        </span>
                        <span th:if="${invoiceLine.departureDate == null or invoiceLine.flightOrderId == null or invoiceLine.flightOrderId.value() == null}">N/A</span>
                    </td>
                    <td th:text="${invoiceLine.description}?:'N/A'">N/A</td>
                    <td class="amount" th:text="${#numbers.formatDecimal((invoiceLine.netAmount?:0), 1, 'COMMA', 2, 'POINT')}">0</td>
                </tr>

                <tr>
                    <td colspan="3">
                        TOTAL DUE <span  th:text="${accountCurrency.code}">N/A</span>
                    </td>
                    <td class="amount" th:text="${#numbers.formatDecimal(additionalChargesTotalAmount/100.0, 1, 'COMMA', 2, 'POINT')}">0</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
